In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json("http://127.0.0.1:8000/api/books/?format=json")
df.head()

   id         title  author publish_date
0   1       Suicide   Ashok   2026-02-16
1   2  Harry Potter   Sunny   2026-02-16
2   4      Anabella  Gaurav   2026-02-16