## SETS

In [44]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [45]:
set_var = {1, 2, 3, 4, 5}
print(set_var)

{1, 2, 3, 4, 5}

In [46]:
set_var =  {"Avenger", "Ironman", "SpiderMan"}
print(set_var)
type(set_var)

{'Ironman', 'SpiderMan', 'Avenger'}

set

In [47]:
set_var.add("Black Panther")
print(set_var)

{'Black Panther', 'Ironman', 'SpiderMan', 'Avenger'}

In [54]:
set1 = {"Avenger", "Ironman", "SpiderMan", "Hulk", "Thor"}
set2 = {"Avenger", "Thor", "Hulk", "Hitman"}
set2.intersection_update(set1)
print(set2)

{'Thor', 'Hulk', 'Avenger'}

In [53]:
set1 = {"Avenger", "Ironman", "SpiderMan", "Hulk", "Thor"}
set2 = {"Avenger", "Thor", "Hulk", "Hitman"}
set2.difference(set1)

{'Hitman'}